## Ejercicio 1

Crea una función llamada ejercicio1, que recibe la ruta donde se encuentra un dataset y devuelve una DataFrame con los datos que hay en el dataset. Para comprobar esta función utiliza el dataset `titanic.csv` que se incluye en esta actividad.

In [52]:
import pandas as pd
import numpy as np

def ejercicio1(ruta):
    df = pd.read_csv(ruta)
    return df

## Ejercicio 2

Crea otra función llamada ejercicio2. Esta función recibe un único argumento que es un dataframe. En concreto debe recibir el dataframe que se ha obtenido de leer el dataset `titanic.csv`. Esta función devolverá otro dataset que incluya únicamente a los pasajeros menores de 35 años y que viajaban en 3ª clase.

In [51]:
def ejercicio2(df):
    df = df[(df['Age']<35) & (df['Pclass']==3)].reset_index(drop=True)
    return df

## Ejercicio 3

Crea una función llamada ejercicio3, que recibiendo como argumento el dataframe del dataset `titanic.csv`, calcule el porcentaje de persona que sobrevieron. Redondee el resultado al segundo decimal.

In [50]:
def ejercicio3(df):
    result = round(100*df['Survived'].sum()/df.shape[0],2)
    return result

## Ejercicio 4

Implementa una función llamada ejercicio4 que recibiendo el dataframe con los datos del Titanic, devuelva en una tupla el porcentaje de hombres y mujeres que viajaban en el Titanic, redondeados al segundo decimal.

In [49]:
def ejercicio4(df):
    temp = round(100*df.groupby('Sex').agg({'PassengerId':'count'})/df.PassengerId.count(),2).reset_index(drop=True)
    p_mujer = temp.loc[0][0]
    p_hombre = temp.loc[1][0]
    return p_hombre,p_mujer

## Ejercicio 5


Implementa una función llamada ejercicio5 que recibiendo el dataframe con los datos del Titanic, devuelva en una lista el número de pasajeros que viajaban en 1ª, 2ª y 3ª clase.

In [48]:
def ejercicio5(df):
    Passengers = df.groupby(by='Pclass').count().PassengerId
    return [Passengers.iloc[0], Passengers.iloc[1] , Passengers.iloc[2]]